body {
    font-family: 'Trebuchet MS';
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: url(forest.jpg);
    background-size: cover;
}

aside {
    height: 100%;
    width: 155px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #4A6741;
    display: flex;
}

.aside {
    align-self: flex-end;
}

.sabrina{
    float: right;
    padding-right: 10%;
    margin: auto;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
}

nav {
    position: relative;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    background-color: #6C965F;
    font-size: 26px;
}

.navigation {
    padding: 11px;
}

.navigation:hover {
    background-color: #527249;
}

.active {
    padding: 11px;
    background-color: #89AB7E;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

fieldset {
    background-color: #89AB7E;
    border-radius: 1pc;
    width: 600px;
    height: 80px;
    margin: auto;
    margin-top: 1%;
    a:link {
        color: black;
        text-decoration: underline;
    }
    a:visited {
        color: black;
        text-decoration: underline;
    }
}