body {
    font-family: 'Trebuchet MS';
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: url(forest.jpg);
    background-size: cover;
}

aside {
    height: 100%;
    width: 155px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #4A6741;
    display: flex;
}

.aside {
    align-self: flex-end;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
}

.sabrina{
    float: right;
    padding-right: 10%;
    margin: auto;
}

nav {
    position: relative;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    background-color: #6C965F;
    font-size: 26px;
}

.navigation {
    padding: 11px;
}

.navigation:hover {
    background-color: #527249;
}

.active {
    padding: 11px;
    background-color: #89AB7E;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 0%;
}

.classtable {
    background-color: rgba(137, 171, 126, 0.3);
    margin: auto;
    margin-top: 2pc;
    padding: 20px;
    width: 50pc;
    height: auto;
    border-radius: 2pc;
    font-size: 18px;
}

table,
th,
td {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #6C965F;
    background-color: #89AB7E;
    border-collapse: collapse;
    vertical-align: middle;
}

h3{
    margin: 0;
}

.back {
    margin: auto;
    margin-top: 2pc;
    padding: 15px;
    width: 55%;
    border-radius: 1pc;
    text-align: center;
    background-color: rgba(137, 171, 126, 0.3);
}

.bar {
    margin: auto;
    width: 85%;
    height: 20px;
    border: 2px solid;
    border-radius: 10px;
}

.passing {
    border: 1px solid;
    height: 100%;
    width: 2px;
    margin-left: 75%;
}

.passing::before {
    content: "45EC";
    position: absolute;
}