aside{
    height: 100%;
    width: 180px;
    position: fixed;
    right: 0;
    top:0;
    background-color: white;
    text-align: center;
    border-width: 255pc;
    border-color: black;
}




#nav{
    position: relative;
    left: 0%;
    right: 0%;
    border-top: 0;
    background-color: black;
}
form{
    display: inline;
    margin: 10px;
}
input[type=submit] {
    padding: 10px;
    background-color: aquamarine;
    border: none;
}

input[type=submit]:hover{
    background-color: white;
}

#current{
    padding: 10px;
    background-color: white;
    border:black;
}

.text{
    background-color: #97BC62;

}